@page
@model WebApplication6.Pages.SelectStudentModel
@{
}
<h1>
  
    Welcome @Model.s.namestudent, you have the meeting @Model.s.idmeet

</h1>
<form method="post">
    <button class="btn btn-outline-success" type="submit">Back</button>
</form>